body {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    color: limegreen;
}

h2 {
    font-family: "Times New Roman", serif;
    font-size: 22px;
    color: limegreen;
}

blockquote {
    margin-right: 60px;
}

img {
    width: 300px;
    border: 8px;
    border-style: solid;
    border-color: limegreen;
    margin: auto;
    display: block;
    max-width: fit-content;
    height: auto;
}